---
layout: default 
page_name: home
---

{% include navbar.html %}
<!-- <section class="pt-5"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1>Directorio de Comercios Locales</h1>
          <ul>
            {% for category_name in all_categories %}
            <li><a href="#{{ category_name }}">{{ category_name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>     -->

{% assign all_categories = site.data.airtable | map: "category" | uniq | sort %}
<section> 
    <div class="row">
      <div class="col-lg-4 bg-green py-4 pl-5" style="background-color: #0B1A1F;">
        <div class="sticky-top">
          <h2 class="mb-0 pb-0 pl-4">Directorio de Comercios Locales 🇬🇹</h2>
          
          <ul class="unstyled-list mt-4 pl-4">
            <li class="bold cursor-pointer with-bottom-border pl-1 pb-2 pt-1" data-filter-category="all">Ver todos</li>
            {% for category in all_categories %}
            <li class="cursor-pointer with-bottom-border pl-1 pb-2 pt-1" data-filter-category="{{ category }}">{{ category }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        {% for business in site.data.airtable %}
          {% assign business = business['resource'] %}
          {% include business_card.html %}
        {% endfor %}
      </div>
    </div> 
</section>

<!-- DELETE WHAT FOLLOWS -->
<!-- 
<p class="lead mb-0 pb-0">Categorías</p>
<hr class="bg-white mt-2 mr-4">

<ul class="unstyled-list mt-4">
  <li class="bold cursor-pointer" data-filter-category="all">Ver todas</li>
  {% for category in all_categories %}
  <li class="cursor-pointer" data-filter-category="{{ category }}">{{ category }}</li>
  {% endfor %}
</ul>

{% assign businesses = site.data.airtable %}
{% for business in businesses  %}
  <div>
    <h3>
      {{ business.name }}
    </h3>
    <p class="white">
    </p>
  </div>
{% endfor %} -->
