<div class="business-card with-border-bottom" data-category="{{ business.category }}">
  <div class="img-wrapper {% unless business.logo_attachment %} no-img {% endunless %}">
    {% if business.logo_attachment %}
      {% for entry in business.logo_attachment %}
      <img src="{{ entry.url }}">
      {% endfor %}
    {% else %}
    <div class="business-card-banner--content">
      <h3 class="business-card-banner--title">{{ business.name }}</h3>
      <div class="business-card-banner--subtitle">{{ business.phone }}</div>
    </div>
    {% endif %}
  </div>

  <div class="mt-2">
    <h3 class="business-card--title">
      {{ business.name }}
    </h3>

    <div class="business-card--meta">
      <div class="business-card--date white">
        {{ business.description }}
      </div>
      <div class="business-card--address white">
        {{ business.phone }}
      </div>
    </div>

    <div class="business-card--content">
      {% if business.social_media %}
      <a href="{{ business.social_media }}" class="styled-link">Ver negocio</a>
      {% endif %}
    </div>
  </div>
</div>