<footer class="bg-black white-letters py-5" id="contacto">
  <div class="container">
    <div class="row justify-content-between align-items-start">
      <div class="col-lg-3 pl-4">
        <p class="lead bold">
          Dirección
        </p>
        <p>Via 6, 3-30 zona 4, Guatemala | +502 2295 9020</p>
      </div>
      <div class="col-lg-3">
        <p class="lead bold">
          Contacto
        </p>
        <a href="mailto:info@imaginatoriostudio.com" target="_blank" class="aqua">info@imaginatoriostudio.com</a>
      </div>
      <div class="col-lg-3">
        <img src="/assets/img/logos/tribus-white.png" alt="Logo Tribus" class="logo">
        <p class="lead">
          &#169; Imaginatorio Cooperative, todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</footer>