<footer class="bg-black white-letters py-5 px-5">
  <div class="row justify-content-between">
    <div class="col-lg-5">
      <p class="lead">
        <strong>Dirección</strong> <br>
        Via 6, 3-30 zona 4, Guatemala | +502 2295 9020
      </p>
      <p class="lead">
        <strong>Contacto</strong> <br>
        <a href="mailto:info@imaginatoriostudio.com">info@imaginatoriostudio.com</a>
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="/assets/img/logos/tribus-white.png" alt="Logo Tribus" class="logo">
      <p class="lead">
        &#169; Imaginatorio Cooperative, todos los derechos reservados
      </p>
    </div>
  </div>
</footer>