<nav class="navbar navbar-expand-lg navbar-light solid">
  <div class="container align-items-center">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="/assets/img/logos/tribus-white.png" class="logo" alt="Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler" type="button">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
            href="https://docs.google.com/forms/d/1B_57GfDoIoAqf3CObpR_yO1RlyfbnBK07s1cGCG6IVM/edit"
            target="_blank">Registra tu negocio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="{{ '/studios' | relative_url }}">Our Studios</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/acton-academy-st-george/" class="social-icon" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>