html, body {
  font-size: 16px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}

.absolute-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}

.bg-black {
  background-color: black !important;
}

.white-letters {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.logo {
  max-height: 80px;

  &.big {
    max-height: 120px;
  }
}

.sticky-top {
  position: sticky;
  top: 4rem;
  min-height: calc(100vh - 4rem);
  height: calc(100vh - 4rem);
  overflow: auto;
  overflow-x: hidden;
  z-index: 1;
}