html, body {
  font-size: 16px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}

.absolute-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}