.navbar.navbar-light {
  position: absolute;
  padding: 0.5rem 0;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 100;

  .navbar-brand {
    max-width: 70%;

    img {
      max-width: 100%;
      max-height: 80px;
      filter: brightness(0) invert(1);
    }
  }

  .navbar-toggler {
    color: white;
    border: 0;
    &:hover, &:focus, &:active { outline: none; }
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-link {
    position: relative;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    padding: 40px 1rem;
    transition: 200ms all;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &.active, &:hover, &:focus, &:active {
      color: white;
    }

    &.button {
      background: rgba(black, 0.2);
      border-color: var(--black);
      font-weight: 600;
      color: white;
      margin-left: 20px;
      padding: 12px 16px;

      &:hover, &:focus, &:active {
          color: var(--black);
          border-color: var(--black);
          background-color: rgba( black, 0.15);
      }

      &::before { content: none; }
    }

    @media (min-width: 992px) {
      &.active::before, &:hover::before, &:focus::before, &:active::before {
        opacity: 1;
      }
    }
  }

  .dropdown {
    z-index: 20;

    .nav-link {
      padding: 0.5rem 1rem;
      &.active::before { content: none; }
    }
  }

  &.solid {
    position: relative;
    background-color: var(--black) !important;
    color: white !important;
  }

  @media(max-width: 991px) {
    padding-left: 10px;
  }
}

.sidebar {
  background-color: var(--dark-green);
  text-align: left;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  z-index: 300;
  bottom: 0;
  padding: 2rem 0;
  margin: 0;
  right: 0;
  border: 0;
  width: 250px;
  right: -300px;
  transition: right 100ms;
  overflow-y: scroll;

  &.active {
    right: 0;
    transition: right 100ms;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  }

  .navbar-nav {
    height: 100%;
  }

  .nav-item .nav-link {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    padding: 10px 20px;
    transition: 200ms all;

    &.active { color: black; }

    &.button {
      color: white;
      border-color: black;
      margin: 8px 20px;
      font-weight: 700;
      &:hover, &:focus, &:active {
        color: black;
        border-color: black;
        background-color: rgba(black, 0.15);
      }
    }
  }

  .nav-item.indented {
    padding-left: 16px;
  }

  .bottom {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: auto;
  }
}

body.sidebar-active {
  overflow: hidden;
  transition: 50ms all;

  .sidebar-overlay {
    content: "";
    display: block;
    z-index: 200;
    position: fixed;
    height: 500px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: auto;
    transition: 50ms all;
  }
}

.sidebar-close {
  z-index: 9994;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: rgba(black, 0.6);
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.fl-icon i:before {
    border: none!important;
    height: auto;
    width: auto;
}
.fa-instagram:before {
    content: "\f16d";
}
